@import url(paleta.css);

main > nav{
    margin: 70px 0;

}
/* predefinindo as configurações do botão */
.dropbtn {
    background-color: var(--black-700);
    color: var(--gray-400);
    width: 280px;
    height: 58px;
    padding: 16px;
    font-size: 16px;
    border: 1px solid var(--gray-500);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
}
/* adicionando os icones do botão */
.icone_botao_curso{
    margin-right: 15px;
}


/* não consegui deixar esses icones separados */
.ponteiro_curso{
    margin-left: auto;
    display: flex;
}



/* efeito de hover no botão */
.dropbtn:hover, .dropbtn:focus {
    color: var(--green-100);
    transition: 0.5s;

}

/* lista  */
.dropdown {
    position: relative;
    display: inline-block;
}


/* itens da lista */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--gray-alpha);
    width: 280px;
    list-style-type: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: var(--white-100);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color:var(--gray-500);
    color: var(--green-100);
    font-size: 17px;
    transition: 0.2s;
}
  
.show {display:block;}


#botao_carga_horaria{
    margin-top: 33px;
    margin-bottom: 10px;
}
#botao_carga_horaria , #botao_data_de_lancamento{
    background-color: var(--black-900);
}


/* colocar ponteiro do lado direito */
.ponteiro_curso {
    margin-left: auto; 
}


/* definições do botão de filtrar */
#filtrar{

        background-color: var(--green-100);
        color: var(--black-900);
        width: 280px;
        height: 42px;
        font-size: 16px;
        border: 1px solid var(--gray-500);
        border-radius: 6px;
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        margin-top: 31px;

}

main{
    display: flex;
}

/* predefinições da section */
main > section{
    background-color:var(--black-700) ;
    padding-bottom:  2em ;
    border-radius: 6px;
    max-width: 906px;

    align-items: center; 
    margin: 70px 0 0 14px;
    margin-bottom: 70px;
    




}

/* Container dos CARDS */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 22px;
    align-items: center; 
    margin-top: 50px;
    padding: 0 2em;
    


}
.cards > div  {
    width:  266px ;
    /* 414 */

    background-color: var(--gray-300);
    padding: 0.85em;

    border-radius: 6px;
    box-sizing: border-box;
    
}
/* Predefinições das IMAGEns do CURSO */

.imagem {
  width: 239px;
  height: 159px;
  border-radius: 10px;
  border: var(--black-700) 1px solid;
  
  
}
/* Predefinições do cards individuais */



/* formatação dos TÍTULOS CARDS */

.cards > div > h2{
    font-size: 16px;
    margin-top: 10px ;
}


/* Formatação Tamanho da Cora */
.cards > div > h2 > img{
    width: 16px;
    height: 16px;
}


/* formatação dos PARÁGRAFOS CARDS */
.cards > div > .p_normal {
    font-size: 14px;
    margin-top: 18px ;
    font-weight: 200;
}
#p_mobile{
    font-size: 14px;
    font-weight: 200;
}


/* configuração do botão de ter acesso ao curso */
.cards > div > .acessar_curso{
    background-color: var(--green-100);
    width: 119px;
    height: 32px;
    border: none;
    font-size: 12px;
    border: 1px solid var(--gray-500);
    border-radius: 6px;
    cursor: pointer;

}

#btn_funcional{
    margin-top: 34px;
}
#btn_java , #btn_crip{
    margin-top: 15px;
}
#btn_ai{
    margin-top: 15px;
}


#btn_apis{
    margin-top: 35px;
}

#btn_mobile{
    margin-top: 50px;

}


/* navegação filtro */
section > nav {
    background-color: var(--black-900);
    max-width: 274px;
    height: 52px;
    padding: 1em;
    border-radius: 12px;
    margin: 12px auto;
    
}

/* UL dos botões dos filtros */
section > nav > ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: var(--black-900);

}

/* definição da cor do botão dos filtros */
section > nav > ul > li{
    color: var(--gray-100);
    
}

/* botão de filtro */
.seletores{
    background-color: var(--black-900);
    border: none;
    font-size: 16px;
    color: var(--gray-100);
    cursor: pointer;
    
   
}


/* formtação do botão já ativado */
.seletores.active{
    color: var(--green-100);
    font-size: 18px;
    transition: 0.12s;
}

@media screen and (max-width: 630px) {
    main{
        display: inline-block;

    }
    main > nav > .dropbtn{
      margin: 10px auto;
        
    }

    main > section{
        margin: 0;
        display: inline-block;

    }
    section > nav {
        margin: 30px auto;
       
    }

    .cards > div{
      margin: 10px auto;

    }
}