@import url(paleta.css);

body{   
    background-size: cover;
    background-image: url(../images/background/background1.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

/*----------------------------------------------------------*/

.container{
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container>div h2{
    color: var(--green-100);
    font-size: 40px;
}

.container>div p{
    margin: 32px 0 45px;
}

.container .button{
    color: var(--green-100);
    border: 1px solid var(--green-100);
    display: inline-block;
    padding: 12px 32px;
    border-radius: 6px;
}

.container a.button:hover{
    color: var(--black-900);
    background-color: var(--green-100);
}

/*----------------------------------------------------------*/

#bemVindo div{
    max-width: 600px;

}

#bemVindo div h2 span{
    color: var(--black-900);
    display: inline-block;
    background-color: var(--white-100);
}

#bemVindo div .lineBottom{
    width: 200px;
    height: 8px;
    margin: 16px 0;
    border-radius: 0 20px 20px 0;
    background-color: var(--white-100);
}

/*----------------------------------------------------------*/

.numeroros{
    left: 0px;
    width: 100vw;
    padding: 45px 0;
    position: absolute;
    background-image: linear-gradient(to right, var(--black-900), var(--black-700), var(--black-900));   
}

.numeroros div{
    gap: 12px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
}

.numeroros div section{
    width: clamp(300px, 376px, 376px);
    border: 1px solid var(--gray-500);
    padding: 16px 16px;
    flex-grow: 4;
    border-radius: 6px;
}

.numeroros div section h3{
    margin: 12px 0;
    font-size: 32px;
}

/*----------------------------------------------------------*/

#quemSomos{
    gap: 32px;
    margin: 430px 0 0 0;
    display: flex;
    flex-wrap: wrap;
}

#quemSomos div{
    max-width: 600px;
}

#quemSomos div figure{
    display: none;
}

#quemSomos div p{
    padding: 0 0 0 20px;
    border-left: 5px solid var(--green-100);
}

/*----------------------------------------------------------*/

.cardsCursos{
    gap: 20px;
    margin: 90px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.cardsCursos section{
    height: 320px;
    border: 1px solid var(--gray-500);
    max-width: 386px;
    border-radius: 6px;
    background-color: var(--black-700);
}

.cardsCursos .imagem{
    max-width: 378px;
    height: 150px;
    border-top: 1px solid var(--gray-500);
    border-left: 1px solid var(--gray-500);
    border-right: 1px solid var(--gray-500);
    border-radius: 6px 6px 0 0;
    background-color: var(--gray-500);
}

.cardsCursos section h3{
    padding: 5px 13px;
}

.cardsCursos section>p{
    color: var(--green-100);
    padding: 5px 13px;
    font-size: 14px;
    font-weight: 300;
}

.perfilProf{
    gap: 8px;
    display: flex;
    padding: 13px;
    align-items: center;
}

.perfilProf p{  
    padding: 3px;
}

.perfilProf .atuacao {
    color: var(--gray-100);
    font-weight: 300;
}

.perfilProf img{
    width: 40px;
    height: 40px;
    border: 1px solid var(--green-100);
    border-radius: 50%;
    background-color: var(--gray-500);
}

/*----------------------------------------------------------*/

.linguagens{     
    gap: 16px 30px;
    display: flex;  
    padding: 45px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.linguagens>h2 {
    width: 100%;
    color: var(--green-100);
    text-align: center;
    font-weight: 400;
}

.linguagens>p {
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 75px;
}

.linguagem{
    gap: 25px;
    border: 1px solid var(--gray-500);
    padding: 24px;
    display: flex;
    max-width: 512px;
    align-items: center;
    border-radius: 6px;
    backdrop-filter: blur(15px);
    
}

.linguagem div h3{
    color: var(--green-100);
    margin-bottom: 10px;
}

/*----------------------------------------------------------*/

swiper-slide{
    padding: 48px 0;
}

@media screen and (max-width: 1150px) {
    #quemSomos{   
        margin: 600px 0 0 0;     
    }
    .numeroros div{
        padding: 0 12px;
    }

}

@media screen and (max-width: 1005px) {
    #quemSomos picture {   
        display: none;  
    }

    #quemSomos div figure{   
        display: block;  
    }
}

@media screen and (min-width: 825px){
    #slide-mobile, #slide-tablet{
        display: none;
    }
}

@media screen and (max-width: 825px){
    #slide-desktop, #slide-mobile{
        display: none;
    }
    #slide-tablet{
        display: block;
    }
}

@media screen and (max-width: 800px) {
    #quemSomos{   
        margin: 630px 0 0 0;     
    }
}

@media screen and (max-width: 760px) {
    #quemSomos picture {   
        display: none;  
    }
    #quemSomos div figure{   
        display: block;  
    }
    #quemSomos{ 
        margin: 750px 0 0 0;  
    }

    #bemVindo picture{
        display: none;
    }
}

@media screen and (max-width: 555px){
    #slide-desktop, #slide-tablet{
        display: none;
    }
    #slide-mobile{
        display: block;
    }
    .cardsCursos{
        margin: auto;
    }
    #quemSomos{ 
        margin: 850px 0 0 0;  
    }

}

